﻿<html>
<body>
    <div class="container b-header__box b-relative" data-ng-controller="navigationcontroller" >
        <a href="/" class="b-left b-logo ">
            <img class="color-theme" data-retina="" src="/img/smooth final.jpg" alt="Logo" /></a>
        <div class="b-header-r b-right b-header-r--icon">
            <div class="b-header-ico-group f-header-ico-group b-right">

                <!-------------------------------------- Login starts ---------------------------------------------------->
                <span id="logindiv" class="b-header-ico b-header-ico-cart-parent">
                    <a href="#" class="b-fa-shopping-cart"><i class="fa f-uppercase f-size-default" style="padding:10px">&nbsp;&nbsp;&nbsp;&nbsp;Login / SignUp</i></a><!--fa-shopping-cart-->
                    <div class="b-option-cart__items">
                        <div class="b-option-cart__items__title f-option-cart__items__title f-default-l">Login here</div>

                        <a href="/samepagelogin" class="b-social__item f-social__item b-social__item--fb" style="border: 0px; margin: 20px;">
                            <i style="color: white" class="fa fa-facebook"></i>Facebook</a>

                    </div>

                </span>

                <span id="logout" class="b-header-ico b-header-ico-cart-parent">
                    <a href="#" class="b-fa-shopping-cart"><i class="fa f-uppercase f-size-default">&nbsp;&nbsp;&nbsp;&nbsp;{{LUN}}</i></a><!--fa-shopping-cart-->
                    <div class="b-option-cart__items">

                        <a href="/logout" class="b-social__item " style="border: 0px; margin: 20px;">
                            <i style="color: white" class="fa fa-sign-out"></i>Logout</a>

                    </div>

                </span>

                <!-------------------------------------- Login Ends ------------------------------------------------------->

                <!--    <div id="logout">
           <span class="b-header-ico b-header-ico-cart-parent" style="float:right">
              <a class="b-fa-shopping-cart"><i class="fa f-uppercase f-size-default">{{LUN}}</i></a><!--fa-shopping-cart-->




            </div>
            <!--  cart side-->
            <br />
            <div class="b-top-nav-show-slide f-top-nav-show-slide b-right j-top-nav-show-slide">
                <i class="fa fa-align-justify">&nbsp;kk</i>
                <!--<span class="b-search-box">
              <i class="fa fa-search"></i>
              <input type="text" placeholder="Enter your keywords"/>
          </span>-->
                <div class="b-option-cart__items">kj</div>
            </div>

            <!-- end of search box on response-->



            <nav class="b-top-nav f-top-nav b-left j-top-nav">
                <ul class="b-top-nav__1level_wrap">
                    <li class="b-top-nav__1level f-primary-b"><a href="homepage-1-index.html" style="border-bottom: 3px solid;"><i class="fa fa-home b-menu-1level-ico"></i>Home</a>

                    </li>

                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <!-- about us-->
                        <a href="our_blog_1_columns.html"><i class="fa fa-code b-menu-1level-ico"></i>About Us<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">courses Value</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl"><a onclick="return false" href=""><i class="fa fa-angle-right"></i>Blog Listing</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl"><a onclick="return false" href=""><i class="fa fa-angle-right"></i>One Column</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns.html"><i class="fa fa-angle-right"></i>Default version</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar v1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_left_slidebar_v2.html"><i class="fa fa-angle-right"></i>Left Sidebar v2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_left_slidebar_v3.html"><i class="fa fa-angle-right"></i>Left Sidebar v3</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar v1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_right_slidebar_v2.html"><i class="fa fa-angle-right"></i>Right Sidebar v2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_right_slidebar_v3.html"><i class="fa fa-angle-right"></i>Right Sidebar v3</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl"><a onclick="return false" href=""><i class="fa fa-angle-right"></i>Two Columns</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_2_colums.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_2_colums_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_2_colums_v3.html"><i class="fa fa-angle-right"></i>Version3</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl"><a onclick="return false" href=""><i class="fa fa-angle-right"></i>Three Columns</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums.html"><i class="fa fa-angle-right"></i>Masonry</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar v1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums_left_slidebar_v2.html"><i class="fa fa-angle-right"></i>Left Sidebar v2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar v1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums_right_slidebar_v2.html"><i class="fa fa-angle-right"></i>Right Sidebar v2</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog_listing_4_colums.html"><i class="fa fa-angle-right"></i>Four Columns</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl"><a onclick="return false" href=""><i class="fa fa-angle-right"></i>Blog detail</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_detail_audio_post.html"><i class="fa fa-angle-right"></i>Audio Post</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_detail_video_post.html"><i class="fa fa-angle-right"></i>Video Post</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_detail_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_detail_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl"><a onclick="return false" href=""><i class="fa fa-angle-right"></i>Blog Timeline</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_timeline_full_width.html"><i class="fa fa-angle-right"></i>Full width</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_timeline_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_timeline_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
                        <!-- cources-->
                        <a href="page_search_result.html"><i class="fa fa-cloud-download b-menu-1level-ico"></i>Courses<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>

                        <div class="b-top-nav__dropdomn" style="width: 600px">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title"><a href="our_services_version_1.html">Analytics</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>B I</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Data warehousing</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>Sql server</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Big data</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>CBAP</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Hadoop</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>SAS</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title"><a href="our_services_version_1.html">IT INFRA</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>DB(Oracle)</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Linux(OS)</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>Storage</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>VM ware</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>Virtulization</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Cloud</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>citrix</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title"><a href="our_services_version_1.html">Project Management</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>PMP</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Prince2</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>CAPM</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>PgMP</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>MSP</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Togaf</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>primavera</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title"><a href="our_services_version_1.html">Software Lang</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>java</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>c++</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>c#</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>perl</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>python</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>sql</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>similar >></a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title"><a href="our_services_version_1.html">Web Designing</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>asp.net</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>j2ee</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>php</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>nodejs</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>ruby</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>html5/css3</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Angular</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Similar >></a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title"><a href="our_services_version_1.html">Telecom</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>IT Networking</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Wireline</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>Wireless/GSM</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>VAS</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>eTOM</a></li>
                            </ul>

                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title"><a href="our_services_version_1.html">Electronics</a></li>


                                <li class="b-top-nav__3level f-top-nav__2level f-primary"><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>Semiconductor</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Embeded</a></li>
                            </ul>

                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title"><a href="our_services_version_1.html">Productivity enhancements</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>Exel</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Word</a></li>
                                <li><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>Powerpoint</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>VBA</a></li>
                                <li><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Presentation Skill</a></li>
                            </ul>




                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <!-- Contact Us-->
                        <a href="contact_us.html"><i class="fa fa-folder-open b-menu-1level-ico"></i>Coverage<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Contact us</li>
                                <li><a href="contact_us.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                <li><a href="contact_us_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <!-- Contact Us-->
                        <a href="contact_us.html"><i class="fa fa-folder-open b-menu-1level-ico"></i>Contact us</a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Contact us</li>
                                <li><a href="contact_us.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                <li><a href="contact_us_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
