﻿<!DOCTYPE html>
<html data-ng-app="ngcoursecategory">
<% include Partials/header.ejs%>



<body style="background-color: rgba(231, 235, 239, 0.21)" data-ng-controller="course_category_controller">
    <span id="course_name"><%=course_cat_name%></span>

    <% include Partials/navigation.ejs%>
     
      <!-- <div class="row" style="border-radius:5px;">
            <div class="col-md-4 col-md-8"></div>
               
                 <div class="col-md-4 col-md-12" style="padding: 0px 0px 0px 0px; background-color: rgba(255, 255, 255, 0.08)">
                     <div>
                         <form class="search" method="post" action="index.html">
                             <input type="text"  style="height:30px; border:1px solid #d3cfca;width:400px" id="truesearch" class="searchTextBox" autocomplete="off" placeholder="Search..." />
                            
                         </form><div style="float:left; position:relative" ><i class="fa fa-search"></i>&nbsp;&nbsp;</div>
                     </div>  
                    
                 </div>

                 <div class="col-md-1 col-md-12" style="padding:0px 0px 0px 0px;  background-color:rgb(96, 198, 42); left:-0px;">
                    <div class="" ><i class="fa fa-search"></i>&nbsp;&nbsp;</div>
                 </div>
             </div>-->
    <br />

      <div id="" style="background-color:black">

         <div class = "promo">
         <img src="../img/homeimage/growimg.jpg" />

         <div class="hilight1">
            <div class="container" >
             <br /><br /><br />
             <!------------------------ search textbox -------------------------------->
             <div class="row">
                 <div class="col-md-1 col-md-2"></div>
                 <div class="col-md-1 col-md-8" style="padding: 0px 0px 0px 0px;margin-right:-5px">
                         <div class="dropdown" >
    <button class="btn btn-default dropdown-toggle" type="button" id="Button1" data-toggle="dropdown" style="padding:10px;">Location
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">delhi</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bangalore</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hyderabad</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pune</a></li>
    </ul>
</div>
                     </div>

                 <div class="col-md-4 col-md-12" style="padding:0px;">
                         <form class="search" method="post" action="index.html" style="margin-left: 0px;">
                             <input type="text" id="Text2" class="searchTextBox" name="q" autocomplete="off" placeholder="Search..."  style="padding:10px;height:42px;"/>
</form>
<!--                 <div class="col-md-1 col-md-12" style="padding:4px 0px 4px 0px;  background-color:rgb(96, 198, 42); left:-0px;">
                    <div class="searchbutton" ><i class="fa fa-search"></i>&nbsp;&nbsp;Search</div>
                 </div>-->
             </div>
                 <div class="col-md-4 col-md-8" ></div>
                 <div class="col-md-2 col-md-8" >
                     <button class="button-xs" data-ng-click="login()">Get your COURSE listed NOW</button>
                 </div>
                 <br />
         </div>
              <br /><br /><br />
              <div class="row">
                 <div class="col-md-1 col-md-2"></div>
                  <div class="col-md-8 col-md-8">
                      <h3 style="color:white">11 Courses and training related to {{catname}}</h3>
                  </div>
                  <div class="col-md-3 col-md-2"></div>
                  </div>

     </div>
         </div>



     </div>
          </div>


      



     <br />
    <ul class="breadcrumb" style="background-color: rgba(128, 128, 128, 0.00); margin-bottom: -10px; border-bottom:0px solid rgba(128, 128, 128, 0.03)">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="">TBD</li>
            
        </ul>
        

    <div class="container" >
        <br />
         
       
       
        <div class="row" style="border: 0px solid;background-color:white">

            <div class="col-md-2" style="border: 0px solid">

                <div class="b-categories-filter">

                    <br />
                    <div class="row">
                        <!--<div class="col-sm-3">-->
<!--                            <div class="well bs-sidebar affix custsidebar" id="sidebar">-->
                            <div class="custsidebar" style="width:100%; background-color:white">
                                <h4 class="">Subtypes</h4>
                                <ul class="nav nav-pills nav-stacked" data-ng-repeat="items in catitems">
                                    <li><a href="#">{{items}}</a></li>

                                </ul>
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                            <!--well bs-sidebar affix-->
                       <!-- </div>-->
                        <!--col-sm-3-->
                        <div class="col-sm-9">
                            <!-- <p>Main body content goes here</p>-->
                        </div>
                        <!--col-sm-9-->
                    </div>
                    <!--row-->



                </div>

            </div>
            <!---------------->

            

            <div class="col-md-8 col-md-8">
               <!-- <h3 style="padding:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>-->
                   
                    <div data-ng-model="data" data-ng-repeat="items in data">
   
                        <div class="row" style="margin-left:0px;">
                            <div class="col-md-3" style="height:160px;background-color:white;">
                                       
<!--                               <div class="thumbnails" style="width: 25%;background-color:white;">-->

                                <div class="thumbnail center-caption" style="width: 100%; padding:5px;background-color:white;margin:5px;">
                                   <!-- <img class="span2" src="http://placehold.it/120x120" alt="">-->
                                    <img class="" src="{{items.Logo}}" alt="http://placehold.it/120x120"/>

                                    </div>
                                </div>
                                    <!--<img class="" src="/img/classroom.jpg" alt="http://placehold.it/120x120"/>
                                  
                                    </div>-->
                               
                            
                            <div class="col-md-9" style="border-bottom:1px solid rgba(222, 217, 217, 0.83); margin-bottom:5px;">

                            <div class="thumbnail" style="width: 100%; padding:0px;background-color:white;margin:5px; border:0px;">

                                    <div class="caption" style="margin:0px;padding:10px;">

                                        <div class = "col-sm-9 col-sm-10" >
                                            <h4 style="color:rgb(70, 68, 68);font-weight:bolder">{{items.TrainingName}} by ABC provider &nbsp;&nbsp;&nbsp; [{{items.Domain}}]</h4>

                                        </div>
                                        
                                        <div class = "col-sm-9 col-sm-10">
                                            <h5 style="padding:4px;margin:0px"><span style="color:rgb(156, 155, 155)">Topics : </span>{{items.TopicsToCover}}</h5>

                                        </div>
                                        
                                        <div class = "col-sm-9 col-sm-10">
                                            <h5 style="padding:4px;margin:0px"><span style="color:rgb(156, 155, 155)">StartDate :</span> {{items.Startdate}} &nbsp;&nbsp;&nbsp; <span style="color:rgb(156, 155, 155)">EndDate :</span> {{items.Enddate}}</h5>

                                        </div>
                                         <div class = "col-sm-8 col-sm-10" >
                                            <h5 style="padding:4px;margin:0px"><span style="color:rgb(156, 155, 155)">Fee :</span> {{items.Fee}} &nbsp;&nbsp;&nbsp; <span style="color:rgb(156, 155, 155)">ClassType :</span> {{items.classtype}}</h5>
                                            
                                        </div>
                                         <div class = "col-sm-1 col-sm-10" style="padding:0px;margin:10px;background-color:">
                                           
                                             <a href="/InstitutePage/{{items.id}}" class="btn-sm btn-success" style="margin:10px;">View</a>
                                        </div>
                                
                                    </div>
                                  
                                    </div>
                                </div>
                                </div>

                        </div>


                        <div class="thumbnails" style="width: 100%;background-color:pink;">

                                <!-- <div class = "col-sm-9 col-sm-10" >
                                            <h4 style="color:rgb(70, 68, 68);font-weight:bolder">{{items.TrainingName}} by ABC provider &nbsp;&nbsp;&nbsp; [{{items.Domain}}]</h4>

                                        </div>
                                    <img class="" src="{{items.Logwo}}" alt="no Image" onError="this.onerror=null;this.src='/img/classroom.jpg';"/>-->


                                    
                                </div>
                            </div>
                     
                    </div>
                </div>

            </div>

            <!------------------------------ Location filter -->
            <!--<div class="col-md-2">

                <div class="b-categories-filter">
                    <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">Location filter</h4>
                    <ul>
                        <li>
                            <label for="checkbox-simple-off">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox36" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">Pune</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                        <li>
                            <label for="checkbox1">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox37" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">Delhi</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                        <li>
                            <label for="checkbox-simple-off">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox38" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">Hyderabad</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                        <li>
                            <label for="checkbox-simple-off">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox39" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">bangalore</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                        <li>
                            <label for="checkbox-simple-off">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox40" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">Noida</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                        <li>
                            <label for="checkbox-simple-off">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox41" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">Chennai</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                        <li>
                            <label for="checkbox-simple-off">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox42" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">Mumbai</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                        <li>
                            <label for="checkbox-simple-off">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox43" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">Kolkata</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                        <li>
                            <label for="checkbox-simple-off">
                                <input type="checkbox" class="b-form-checkbox b-form-checkbox-simple" id="checkbox44" />
                                <span></span>
                            </label>
                            <a class="f-categories-filter_name" href="#">Jaipur</a>

                            <span class="b-categories-filter_count f-categories-filter_count">12</span>
                        </li>
                    </ul>
                </div>

            </div>-->


        </div>
    </div>


    <!-- <div class="l-main-container" >

      
    <div class="b-breadcrumbs f-breadcrumbs">
        <div data-ng-controller="course_category_controller">
            <div  data-ng-model="data">
                {{data}}
            </div>
        </div>
         

        <div class="container">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li><i class="fa fa-angle-right"></i><a href="#">name of tag</a></li>  
                <a href="#" class="b-right mysort active">order by rating<i class="fa fa-sort-amount-asc"></i></a>
            <a href="#" class="b-view-switcher b-right">order by time to start<i class="fa fa-sort-amount-asc"></i> </a>
            <a href="#" class="b-view-switcher b-right">order by alphabet<i class="fa fa-sort-amount-asc"></i> </a>
                                
            </ul>

           


        </div>
        
    </div>
        </div>-->


    <% include Partials/footer.ejs%>
  <% include Partials/scripts.ejs%>
</body>
</html>
