﻿<!DOCTYPE html>
<html>
<% include Partials/header.ejs%>
<body>
    <% include Partials/navigation.ejs%>
<div class="j-menu-container"></div>


<div class="l-main-container">
    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href=""><i class="fa fa-home"></i>Home</a></li>
                <li><i class="fa fa-angle-right"></i><a href="">Blogs</a></li>
                <li><i class="fa fa-angle-right"></i><span>Right Sidebar</span></li>
            </ul>
        </div>
    </div>
    <div class="l-inner-page-container">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="b-slidercontainer b-slider b-small-arr f-small-arr">
                        <div data-height="385" class="j-contentwidthslider j-contentwidthslider-innerheight j-pagination-hide">
                            <ul>
                                <li data-transition="slotfade-vertical" data-slotamount="25" >
                                    <img data-retina="" src="/img/gallery/gallery_1.jpg">
                                </li>
                                <li data-transition="slotfade-vertical" data-slotamount="17" >
                                    <img data-retina src="/img/gallery/gallery3.jpg">
                                </li>
                                <li data-transition="slotfade-vertical" data-slotamount="7" >
                                    <img data-retina src="/img/gallery/slider-education.jpg">
                                </li>
                                <li data-transition="slotfade-vertical" data-slotamount="7" >
                                    <img data-retina src="/img/gallery/section-bg-2.jpg">
                                </li>
                                <li data-transition="slotfade-vertical" data-slotamount="7" >
                                    <img data-retina src="/img/gallery/section-bg-4.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="b-article-box">
                        <div class="f-article_title f-primary-l b-title-b-hr">
                            Mauris ac risus neque, ut pulvinar risus
                        </div>
                        <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text f-primary-b">
                            By <a href="" class="f-more">Stephen Brock</a> In <a href="" class="f-more">Lifestyle</a>, <a href="" class="f-more">Photography</a> Posted May 24th, 2013
                            <a href="" class="f-more b-blog-listing__additional-text f-primary"><i class="fa fa-comment"></i>12 Comments</a>
                        </div>
                        <div class="b-article__description">
                            <p>Pendisse blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis. </p>
                            <blockquote class="b-blockquote--primary b-diagonal-line-bg-light f-blockquote--primary f-primary-it">
                                <i class="fa fa-quote-left b-left b-blockquote__icon f-blockquote__icon"></i>
                                <div class="b-remaining">
                                    Morbi aliquam fringilla nisl. Pellentesque eleifend condimentum tellus, vel vulputate tortor malesuada sit amet. Aliquam vel vestibulum metus. Aenean ut mi auctor, bibendum urna vitae, semper leo. In dolor sem, adipiscing id rhoncus ut, tempus id purus. Sed porttitor, sem id pellentesque ultrices, dolor diam ornare lorem, non feugiat tortor eros vitae arcu.
                                </div>
                            </blockquote>
                            <p>Nullam accumsan nec justo in bibendum. Aliquam in dui eget enim lobortis porta. Nullam quis ligula ut nunc tristique sollicitudin a sit amet enim. In urna odio, convallis quis diam eu, tincidunt fermentum lacus. Nam sit amet risus tincidunt, ultricies urna dapibus, vulputate libero. Nulla pharetra diam mauris, id tempor lectus gravida vel. Maecenas pharetra purus mauris, nec suscipit risus consequat eget. Phasellus pulvinar euismod dui eget tempus. Suspendisse gravida mi ac nunc lacinia aliquet in eget elit. Phasellus in consequat odio, sit amet sodales enim. Maecenas molestie semper turpis, et venenatis quam feugiat gravida. Donec sit amet velit sollicitudin, malesuada sapien quis, tempor lectus.</p>
                            <p>Duis volutpat dignissim magna, in facilisis urna condimentum pretium. Maecenas sollicitudin elit diam, a auctor tellus mattis eget. Quisque vitae risus sit amet mi venenatis posuere eu eget quam. Vivamus faucibus vel quam nec lacinia. Vivamus hendrerit sem dolor, id elementum enim dictum ut. Suspendisse tincidunt in nisi nec consequat. Curabitur ut molestie sem, in faucibus augue. Phasellus sed congue nibh. Mauris vel dolor mi. Suspendisse rhoncus mi sed scelerisque porta. Donec quis nisi in mi consequat blandit. Sed et imperdiet leo. Cras aliquet mauris enim, a aliquet quam vehicula vel. Cras porttitor ligula non diam vestibulum, eget hendrerit justo convallis.</p>
                        </div>
                        <div class="b-article__social-info">
                            <ul>
                                <li>
                                    <div class="b-article__tag">
                                        <span class="b-article__social-info-name f-article__social-info-name"><i class="fa fa-tags"></i> Tags:</span>
                                        <a class="f-tag b-tag" href="#">Dress</a>
                                        <a class="f-tag b-tag" href="#">Mini</a>
                                        <a class="f-tag b-tag" href="#">Skate animal</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="b-article__social">
                                        <span class="b-article__social-info-name f-article__social-info-name"><i class="fa fa-share-square"></i> Share this post :</span>
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-behance"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="b-author-blog-box">
                        <div class="b-author-box">
                            <div class="b-author__img">
                                <img data-retina src="/img/users/author.jpg" alt="">
                            </div>
                            <div class="b-author__descr">
                                <div class="b-author__descr__data">
                                    <h4 class="b-author__descr__data__name f-author__descr__data__name f-primary-b">
                                        Administrator
                                        <span class="f-primary">CEO & Founder</span>
                                    </h4>
                                    <div class="b-author__descr__data__social">
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                                            <i class="fa fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="b-author__descr__post">
                                    <p>Morbi aliquam fringilla nisl. Pellentesque eleifend condimentum tellus, vel vulputate tortor malesuada sit amet. Aliquam vel vestibulum metus. Aenean ut mi auctor, bibendum urna vitae, semper leo. In dolor sem, adipiscing id rhoncus ut, tempus id purus. Sed porttitor, sem id pellentesque ultrices, dolor diam ornare lorem, non feugiat tortor eros vitae arcu.</p>
                                    <a href="#" class="f-author__link">http://envato.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-comment-blog-box" id="comment">
                        <div class="b-comments-box">
                            <div class="b-comment__title f-comment__title">
                                <span class="b-comment__title__name f-primary-b">32 Comments</span>
                                <a href="#" class="b-comment__now f-comment__now">
                                    <i class="fa fa-comments-o"></i> Leave a comment now
                                </a>
                            </div>
                            <div class="b-comment__list">
                                <ul>
                                    <li>
                                        <div class="b-comment-item">
                                            <div class="b-comment__img">
                                                <img data-retina src="/img/users/comment_img.jpg" alt="">
                                            </div>
                                            <div class="b-comment__descr">
                                                <div class="b-comment__descr__data">
                                                    <div class="b-comment__descr__name f-comment__descr__name f-primary-b">John Doe</div>
                                                    <div class="b-comment__descr__info f-comment__descr__info">
                                                        <span class="f-comment__date">20:30 PM - 15 November, 2013</span> <i class="b-comment__infp__slash">/</i>
                                                        <a href="#" class="f-comment-link-color">Report</a> <i class="b-comment__infp__slash">/</i>
                                                        <a href="#" class="f-comment-link-color">Reply</a>
                                                    </div>
                                                </div>
                                                <div class="f-comment__descr__txt">
                                                    <p>Pellentesque pulvinar dolor eu erat aliquet iaculis. Ut lacus lectus, scelerisque at mi id, pharetra mollis elit. Fusce diam mi, laoreet non luctus et, iaculis a risus. Phasellus volutpat ipsum id facilisis sagittis. Integer eget laoreet nibh. Nullam fringilla sem rhoncus felis suscipit accumsan.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="b-comment-item">
                                                    <div class="b-comment__img">
                                                        <img data-retina src="/img/users/comment_img.jpg" alt="">
                                                    </div>
                                                    <div class="b-comment__descr">
                                                        <div class="b-comment__descr__data">
                                                            <div class="b-comment__descr__name f-comment__descr__name f-primary-b">Oliver Twister</div>
                                                            <div class="b-comment__descr__info f-comment__descr__info">
                                                                <span class="f-comment__date">20:30 PM - 15 November, 2013</span> <i class="b-comment__infp__slash">/</i>
                                                                <a href="#" class="f-comment-link-color">Report</a> <i class="b-comment__infp__slash">/</i>
                                                                <a href="#" class="f-comment-link-color">Reply</a>
                                                            </div>
                                                        </div>
                                                        <div class="f-comment__descr__txt">
                                                            <p>Pellentesque pulvinar dolor eu erat aliquet iaculis. Ut lacus lectus, scelerisque at mi id, pharetra mollis elit. Fusce diam mi, laoreet non luctus et, iaculis a risus. Phasellus volutpat ipsum id facilisis sagittis. Integer eget laoreet nibh. Nullam fringilla sem rhoncus felis suscipit accumsan.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            <li>
                                                <div class="b-comment-item">
                                                    <div class="b-comment__img">
                                                        <img data-retina src="/img/blog/ann.jpg" alt="">
                                                    </div>
                                                    <div class="b-comment__descr">
                                                        <div class="b-comment__descr__data">
                                                            <div class="b-comment__descr__name f-comment__descr__name f-primary-b">Mary Ana</div>
                                                            <div class="b-comment__descr__info f-comment__descr__info">
                                                                <span class="f-comment__date">20:30 PM - 15 November, 2013</span> <i class="b-comment__infp__slash">/</i>
                                                                <a href="#" class="f-comment-link-color">Report</a> <i class="b-comment__infp__slash">/</i>
                                                                <a href="#" class="f-comment-link-color">Reply</a>
                                                            </div>
                                                        </div>
                                                        <div class="f-comment__descr__txt">
                                                            <p>Pellentesque pulvinar dolor eu erat aliquet iaculis. Ut lacus lectus, scelerisque at mi id, pharetra mollis elit. Fusce diam mi, laoreet non luctus et, iaculis a risus. Phasellus volutpat ipsum id facilisis sagittis. Integer eget laoreet nibh. Nullam fringilla sem rhoncus felis suscipit accumsan.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="b-comment-item">
                                            <div class="b-comment__img">
                                                <img data-retina src="/img/users/comment_img.jpg" alt="">
                                            </div>
                                            <div class="b-comment__descr">
                                                <div class="b-comment__descr__data">
                                                    <div class="b-comment__descr__name f-comment__descr__name f-primary-b">John Doe</div>
                                                    <div class="b-comment__descr__info f-comment__descr__info">
                                                        <span class="f-comment__date">20:30 PM - 15 November, 2013</span> <i class="b-comment__infp__slash">/</i>
                                                        <a href="#" class="f-comment-link-color">Report</a> <i class="b-comment__infp__slash">/</i>
                                                        <a href="#" class="f-comment-link-color">Reply</a>
                                                    </div>
                                                </div>
                                                <div class="f-comment__descr__txt">
                                                    <p>Pellentesque pulvinar dolor eu erat aliquet iaculis. Ut lacus lectus, scelerisque at mi id, pharetra mollis elit. Fusce diam mi, laoreet non luctus et, iaculis a risus. Phasellus volutpat ipsum id facilisis sagittis. Integer eget laoreet nibh. Nullam fringilla sem rhoncus felis suscipit accumsan.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--<div class="b-blog-form-box">
                        <h3 class="f-primary-b b-title-description f-title-description">
                            leave a comment
                        </h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="b-form-row">
                                    <label class="b-form-vertical__label" for="create_account_email">Your Email</label>
                                    <div class="b-form-vertical__input">
                                        <input type="text" id="create_account_email" class="form-control" />
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <label class="b-form-vertical__label" for="create_account_password">Your password</label>
                                    <div class="b-form-vertical__input">
                                        <input type="text" id="create_account_password" class="form-control" />
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <label class="b-form-vertical__label" for="create_account_confirm">Confirm password</label>
                                    <div class="b-form-vertical__input">
                                        <input type="text" id="create_account_confirm" class="form-control" />
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <label class="b-form-vertical__label" for="create_account_phone">Phone Number</label>
                                    <div class="b-form-vertical__input">
                                        <input type="text" id="create_account_phone" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="b-form-row b-form--contact-size">
                                    <label class="b-form-vertical__label" for="create_account_phone">Your message</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                                <div class="b-form-row">
                                    <a href="#" class="b-btn f-btn b-btn-md b-btn-default f-primary-b b-btn__w100">send message</a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="col-md-3">
<!--                    <div class="b-form-row b-input-search">
                        <input class="form-control" type="text" placeholder="Enter your keywords"/>
                        <span class="b-btn b-btn-search f-btn-search fa fa-search"></span>
                    </div>-->
                    <div class="row b-col-default-indent">
                        <div class="col-md-12">
                            <div class="b-categories-filter">
                                <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">blog categories</h4>
                                <ul>
    <li>
        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Web Design</a>
        <span class="b-categories-filter_count f-categories-filter_count">12</span>
    </li>
    <li>
        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Smart Phone</a>
        <span class="b-categories-filter_count f-categories-filter_count">23</span>
    </li>
    <li>
        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Latop</a>
        <span class="b-categories-filter_count f-categories-filter_count">12</span>
    </li>
    <li>
        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Apple Store</a>
        <span class="b-categories-filter_count f-categories-filter_count">23</span>
    </li>
    <li>
        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Wordpress Theme</a>
        <span class="b-categories-filter_count f-categories-filter_count">12</span>
    </li>
    <li>
        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Web Design</a>
        <span class="b-categories-filter_count f-categories-filter_count">23</span>
    </li>
    <li>
        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Sport</a>
        <span class="b-categories-filter_count f-categories-filter_count">12</span>
    </li>
    <li>
        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Fashion</a>
        <span class="b-categories-filter_count f-categories-filter_count">23</span>
    </li>
</ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">popular postes</h4>

                            <div class="b-blog-short-post b-blog-short-post--img-hover-bordered b-blog-short-post--w-img f-blog-short-post--w-img row">
                                <div class="b-blog-short-post b-blog-short-post--img-hover-bordered b-blog-short-post--w-img f-blog-short-post--w-img row">
    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
        <div class="b-blog-short-post__item_img">
            <a href="#"><img data-retina src="/img/shop/popular_1.png" alt=""/></a>
        </div>
        <div class="b-remaining">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Phasellus id mattis dolorunc et erat hendrerit, tincidunt</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                10, January, 2014
            </div>
        </div>
    </div>
    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
        <div class="b-blog-short-post__item_img">
            <a href="#"><img data-retina src="/img/shop/popular_1.png" alt=""/></a>
        </div>
        <div class="b-remaining">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Vel eleifend id ullamcorper eu velit</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                14, January, 2014
            </div>
        </div>
    </div>
    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
        <div class="b-blog-short-post__item_img">
            <a href="#"><img data-retina src="/img/shop/popular_1.png" alt=""/></a>
        </div>
        <div class="b-remaining">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Lorem ipsum dolor sit amet purus vitae magna rhoncus</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                10, January, 2014
            </div>
        </div>
    </div>
    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
        <div class="b-blog-short-post__item_img">
            <a href="#"><img data-retina src="/img/shop/popular_1.png" alt=""/></a>
        </div>
        <div class="b-remaining">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Fusce vitae dui sit amet lacus rutrum convallis</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                10, January, 2014
            </div>
        </div>
    </div>
    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b @@hidden">
        <div class="b-blog-short-post__item_img">
            <a href="#"><img data-retina src="/img/shop/popular_1.png" alt=""/></a>
        </div>
        <div class="b-remaining">
            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                <a href="#">Fusce vitae dui sit amet lacus rutrum convallis</a>
            </div>
            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                10, January, 2014
            </div>
        </div>
    </div>
</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="b-tabs f-tabs j-tabs b-tabs-reset b-tabs--secondary f-tabs--secondary">
                                <ul class="f-primary-b">
                                    <li><a href="#tabs-31">TWEETS</a></li>
                                    <li><a href="#tabs-32">COMMENTS</a></li>
                                </ul>
                                <div class="b-tabs__content">
                                    <div id="tabs-31" class="clearfix">
                                        <div class="b-twitter-feeds__item b-tabs__content-list-item">
                                            <div class="b-twitter-feeds__item_name f-twitter-feeds__item_name f-primary-b"><i
                                                    class="fa fa-twitter"></i> frexy studio
                                            </div>
                                            <div class="b-twitter-feeds__item_twit f-twitter-feeds__item_twit">
                                                Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit
                                                sapien. <a href="http://t.co/hd3sk" target="_blank">http://t.co/hd3sk</a>
                                            </div>
                                            <div class="b-twitter-feeds__item_date f-twitter-feeds__item_date f-primary-it c-senary">
                                                2 days ago
                                            </div>
                                        </div>
                                        <div class="b-twitter-feeds__item b-tabs__content-list-item">
                                            <div class="b-twitter-feeds__item_name f-twitter-feeds__item_name f-primary-b"><i
                                                    class="fa fa-twitter"></i> John Doe
                                            </div>
                                            <div class="b-twitter-feeds__item_twit f-twitter-feeds__item_twit">
                                                Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit
                                                sapien. <a href="http://t.co/hd3sk" target="_blank">http://t.co/hd3sk</a>
                                            </div>
                                            <div class="b-twitter-feeds__item_date f-twitter-feeds__item_date f-primary-it c-senary">
                                                2 days ago
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tabs-32" class="clearfix">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="f-primary-b b-h4-special f-h4-special">tab widget</h4>
                            <div class="j-accordion b-accordion b-accordion--with-standard-icon f-accordion b-accordion--smallindent">
    <h3 class="b-accordion__title f-accordion__title">Our Solution</h3>

    <div class="b-accordion__content">
        <div class="b-accordion__img b-left b-margin-right-standard">
            <img data-retina src="/img/shortcode/accordion-html5.png" alt=""/>
        </div>
        <p class="f-primary-b b-null-bottom-indent f-title-small c-default">Suspendisse vitae metus enim</p>

        <p class="b-null-bottom-indent">Sed auctor pretium justo id lobortis. Nam quis vulputate sem, ac vestibulum lacus. Integer at lectus ligula. Cras sit amet sollicitudin metus. Nulla nunc dui, tristique in semper vel, congue sed ligula.</p>
    </div>
    <h3 class="b-accordion__title f-accordion__title">Our Technology</h3>

    <div class="b-accordion__content">
        <div class="b-accordion__img">
            <img data-retina src="/img/shortcode/accordion-5.jpg" alt=""/>
        </div>
        <p class="f-primary-b b-null-bottom-indent f-title-small c-default">Suspendisse vitae metus enim</p>

        <p>Sed auctor pretium justo id lobortis. Nam quis vulputate sem, ac vestibulum lacus. Integer at
            lectus ligula. Cras sit amet sollicitudin metus</p>
    </div>
    <h3 class="b-accordion__title f-accordion__title">Our Mission</h3>

    <div class="b-accordion__content">
        <div class="b-accordion__img">
            <img data-retina src="/img/shortcode/accordion-8.jpg" alt=""/>
        </div>
        <p class="f-primary-b b-null-bottom-indent f-title-small c-default">Suspendisse vitae metus enim</p>

        <p>Sed auctor pretium justo id lobortis. Nam quis vulputate sem, ac vestibulum lacus. Integer at
            lectus ligula. Cras sit amet sollicitudin metus</p>
    </div>
</div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">tags cloud</h4>
                            <div>
    <a class="f-tag b-tag" href="#">Dress</a>
    <a class="f-tag b-tag" href="#">Mini</a>
    <a class="f-tag b-tag" href="#">Skate animal</a>
    <a class="f-tag b-tag" href="#">Lorem ipsum</a>
    <a class="f-tag b-tag" href="#">literature</a>
    <a class="f-tag b-tag" href="#">Baroque</a>
    <a class="f-tag b-tag" href="#">Dress</a>
    <a class="f-tag b-tag" href="#">Mini</a>
    <a class="f-tag b-tag" href="#">Skate animal</a>
    <a class="f-tag b-tag" href="#">Lorem ipsum</a>
    <a class="f-tag b-tag" href="#">literature</a>
    <a class="f-tag b-tag" href="#">Baroque</a>
</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    			<% include Partials/footer.ejs%>
			<% include Partials/scripts.ejs%>
</body>
</html>