﻿<!DOCTYPE html>
<html>
<% include Partials/header.ejs%>
<body>

    <% include Partials/navigation.ejs%>

<div class="l-main-container">
    <form action="/ProviderPage" method="post">
    <div class="container b-container-login-page">
        <div class="row">
            <div class="col-md-6">
                <div class="b-form-row f-primary-l f-title-big c-secondary">Create an account</div>
                <div class="b-form-row">Consectetur adipiscing elituis sagittis eu mi et pellentesqueur</div>
                <hr class="b-hr" />
                <div class="row b-form-inline b-form-horizontal">
                    <div class="col-xs-12">
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_email">Your Name</label>
                            <div class="b-form-horizontal__input">
                                <input type="text" id="Your_Name" class="form-control" />
                            </div>
                        </div>
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_password">Your are dropdown</label>
                            <div class="b-form-horizontal__input">
                                <input type="text" id="Your_are" class="form-control" />
                            </div>
                        </div>
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_confirm">No of faculty</label>
                            <div class="b-form-horizontal__input">
                                <input type="text" id="No_of_faculty" class="form-control" />
                            </div>
                        </div>
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_phone">City</label>
                            <div class="b-form-horizontal__input">
                                <input type="text" id="City" class="form-control" />
                            </div>
                        </div>
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_location">Complete address</label>
                            <div class="b-form-horizontal__input">
                                <input type="text" id="address" class="form-control" />
                            </div>
                        </div>
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_name">Contact email</label>
                            <div class="b-form-horizontal__input">
                                <input type="text" id="email" class="form-control" />
                            </div>
                        </div>
                         <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_name">Contact nos</label>
                            <div class="b-form-horizontal__input">
                                <input type="text" id="Contact_nos" class="form-control" />
                            </div>
                        </div>
                         <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_name">Training Institute Reg details</label>
                            <div class="b-form-horizontal__input">
                                <input type="text" id="Reg_details" class="form-control" />
                            </div>
                        </div>
                       <!-- <div class="b-form-row">
                            <div class="b-form-horizontal__label"></div>
                            <div class="b-form-horizontal__input">
                                <label for="create_account_terms">
                                    <input type="checkbox" class="b-form-checkbox b-form-checkbox" id="create_account_terms" />
                                    <span>I agree to <a href="#" class="c-secondary f-more">Terms of Use</a></span>
                                </label>
                            </div>
                        </div>-->
                        <div id="signUpButton" class="b-form-row">
                            <div class="b-form-horizontal__label"></div>
                            <div class="b-form-horizontal__input">
                                <button  type="submit" class="b-btn f-btn b-btn-md b-btn-default f-primary-b b-btn__w100">sign up now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-primary-l f-title-big c-secondary">Welcomr to UTA</div>
                <p>Best place to get connected with the knowledge sharing world we offwer xys for ABC in 2 easy steps. 1.sjkchisdc 2.aisgibidsc</p>
                <div class="b-shortcode-example">
                    <ul class="b-list-markers f-list-markers">
                        <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Fusce viverra nisl eu nisl suscipit dictum.</a></li>
                        <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Morbi vehicula massa ut libero laoreet faucibus.</a></li>
                        <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Nullam a felis volutpat, gravida est eget, ultrices velit.</a></li>
                        <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Proin egestas nibh luctus dui cursus, sit amet vestibulum massa dignissim.</a></li>
                        <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Etiam facilisis sapien ut ornare euismod.</a></li>
                    </ul>
                </div>
                <div class="b-logo-partner-box">
                    <div class="b-logo-item"><a href="#">
                        <img class="is-normal" src="img/slider/partner/client-logo-5.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/client-logo-5h.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="#">
                        <img class="is-normal" src="img/slider/partner/client-logo-4.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/client-logo-4h.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="#">
                        <img class="is-normal" src="img/slider/partner/client-logo-1.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/client-logo-1h.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="#">
                        <img class="is-normal" src="img/slider/partner/client-logo-2.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/client-logo-2h.png" alt=""/>
                    </a></div>
                </div>
            </div>
        </div>
    </div>
        </form>
</div>
			<% include Partials/scripts.ejs%>
</body>
</html>