﻿<div id="tabs-1">
    <div class="b-tabs-vertical__content-text">
        <!--<h5 class="f-tabs-vertical__title f-primary-b">Profile</h5>
					<p>Any paragraph here</p>-->
        <div class="row b-col-default-indent">
            <div class="col-md-11">
                <div class="b-product-cart-small">
                    <div class="b-product-cart-small__header courseheader">
                        <div class="f-primary-b f-uppercase f-title-small">New Course</div>
                    </div>

                    <!------------------------------------------ items starts  starts here  for ADD COURSE ----------------------------------------->
                    <div class="col-xs-12">
                        <form class="form a" id="new-course-form" novalidate="novalidate" data-ng-submit="submitcourse(newcourse)">

                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="StatusByP">Status</label>
                                <div class="col-md-6">
                                    <select name="StatusByP" class="form-control" data-ng-model="newcourse.StatusByP" required>
                                        <option value="">Select Status</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                                <span class="error" data-ng-show="myForm.Status.$dirty && myForm.Status.$error.required">*</span>
                            </div>

                            <!-- 1 1 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="Domain">Domain</label>
                                <div class="col-md-6">
                                    <select name="Domain" class="form-control" data-ng-model="newcourse.Domain" data-ng-change="getCourses(newcourse.Domain)" required>
                                        <option value="">Select Domain</option>
                                        <option data-ng-repeat="domain in domains">{{domain}}</option>
                                    </select>
                                </div>
                                <span class="error" data-ng-show="myForm.Domain.$dirty && myForm.Domain.$error.required">*</span>
                            </div>

                            <!-- 1 2 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="TrainingName">TrainingName</label>
                                <div class="col-md-6">
                                    <select name="TrainingName" class="form-control" data-ng-model="newcourse.TrainingName" required>
                                        <option value="">Select Training Name</option>
                                        <option data-ng-repeat="course in courses">{{course}}</option>
                                    </select>
                                </div>
                                <span class="error" data-ng-show="myForm.City.$dirty && myForm.City.$error.required">*</span>
                            </div>

                            <!-- 1 3 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="City">Type</label>
                                <div class="col-md-6">
                                    <select name="Type" class="form-control" data-ng-model="newcourse.classtype" required>
                                        <option value="">Select Type</option>
                                        <option value="Classroom">Classroom</option>
                                        <option value="Online">Online</option>
                                        <option value="Individual">Individual</option>
                                    </select>
                                </div>
                                <span class="error" data-ng-show="myForm.Type.$dirty && myForm.Type.$error.required">*</span>
                            </div>

                            <!-- 1 4 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="create_account_email">PrimaryTag</label>
                                <div class="col-md-6">
                                    <input placeholder="tags helps in better search" type="text" name="PrimaryTag" id="PrimaryTag" class="form-control" data-ng-model="newcourse.PrimaryTag" required />
                                </div>
                                <span class="error" data-ng-show="myForm.PrimaryTag.$dirty && myForm.PrimaryTag.$error.required">*</span>
                            </div>

                            <!-- 1 5 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="create_account_email">SecondaryTag</label>
                                <div class="col-md-6">
                                    <input type="text" name="SecondaryTag" id="SecondaryTag" class="form-control" data-ng-model="newcourse.SecondaryTag" required />
                                </div>
                                <span class="error" data-ng-show="myForm.SecondaryTag.$dirty && myForm.SecondaryTag.$error.required">*</span>
                            </div>

                            <!-- 1 6 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="Startdateadd">Startdate</label>
                                <div class="col-md-6">
                                    <div class="b-form-row b-form-control__icon-wrap">
                                        <input type="text" name="Startdate" id="Startdateadd" class="form-control datepicker" data-ng-model="newcourse.Startdate" required />
                                        <i class="fa fa-calendar-o b-form-control__icon f-form-control__icon" style="color: #cdcdcd"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- 1 7 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="create_account_email">Enddate</label>
                                <div class="col-md-6 b-form-row b-form-control__icon-wrap">
                                    <div class="b-form-row b-form-control__icon-wrap" style="margin-bottom: 0px">
                                        <input type="text" name="Enddate" id="Enddateadd" class="form-control datepicker" data-ng-model="newcourse.Enddate" required />
                                        <i class="fa fa-calendar b-form-control__icon f-form-control__icon" style="color: #cdcdcd"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- 1 8 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="create_account_email">Fee</label>
                                <div class="col-md-6">
                                    <input type="text" name="Fee" class="form-control" data-ng-model="newcourse.Fee" required />
                                </div>
                                <!--                          <span class="error" data-ng-show="myForm.Fee.$dirty && myForm.Fee.$error.required">*</span>-->
                            </div>
                            <!-- 1 9 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="TopicsToCover">TopicsToCover</label>
                                <div class="col-md-6">
                                    <input placeholder="better topics better vislibility" type="text" name="TopicsToCover" id="TopicsToCover" class="form-control" data-ng-model="newcourse.TopicsToCover" required />
                                </div>
                                <span class="error" data-ng-show="myForm.TopicsToCover.$dirty && myForm.TopicsToCover.$error.required">*</span>
                            </div>
                            <!-- 1 10 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label">Video</label>
                                <div class="col-md-6">
                                    <input type="text" name="Video" id="Video" class="form-control" data-ng-model="newcourse.Video" required />
                                </div>
                                <span class="error" data-ng-show="myForm.Video.$dirty && myForm.Video.$error.required">*</span>
                            </div>
                            <!-- 1 11 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label">TeacherDetail</label>
                                <div class="col-md-6">
                                    <input type="text" name="TeacherDetail" id="TeacherDetail" class="form-control" data-ng-model="newcourse.TeacherDetail" required />
                                </div>
                                <span class="error" data-ng-show="myForm.TeacherDetail.$dirty && myForm.TeacherDetail.$error.required">*</span>
                            </div>
                            <!-- 1 12 form item-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label" for="Comments">Comments</label>
                                <div class="col-md-6">
                                    <input placeholder="any comments for visitors" type="text" name="Comments" id="Text2" class="form-control" data-ng-model="newcourse.Comments" required />
                                </div>
                                <span class="error" data-ng-show="myForm.Comments.$dirty && myForm.Comments.$error.required">*</span>
                            </div>
                            <!-- 1 13 submit-->
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label"></label>
                                <div class="col-md-8">
                                    <button class="btn btn-success" id="submitcourse">Add</button>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <label id="formadded" style="color: rgba(53, 118, 34, 0.83)"></label>
                            </div>
                        </form>
                    </div>

                    <!-- getting the border--------->
                    <div class="b-product-cart-small__content_row b-form-row--big b-shortcode-example b-null-bottom-indent">
                        <label class="c-tertiary b-null-bottom-indent"></label>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
